.duck-multiple-product-card {
    width: 90%;
    display: grid;
    border: 0.125em solid var(--primary-color);
    justify-content: center;
    align-items: center;
  }
  .duck-multiple-product-card-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
  }
  .duck-multiple-product-card-middle {
display: flex;  
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 2rem;
}
  .duck-multiple-product-card-img-tag-container {
      width: 20%;
  }
  
.duck-multiple-product-card-img {
    width: 100%;
   
  }

  
  
  

  /*  */
  .duck-primary-btn-xl {
    width: 100%;
    min-height: 2.5rem;
    font-size: large;
    font-weight: bold;
  }