
.duck-square-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
}
.duck-square-img{
    width: 90%;
    height: 70vh;
}

.duck-primary-btn-s {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 2.5rem;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 3rem;
    box-shadow: .125rem .1rem .1rem .1rem var(--primary-color);
}