
.duck-card-product-container {
  position: relative;
  width: 13rem;
  height: auto;
  color: var(--primary-color);
}
.duck-card-product-container:hover .duck-card-product-title {
  color: green;
}
.duck-card-product-container:hover {
  box-shadow: 0 0.125rem 0.125rem 0.125rem var(--primary-color);
}
.duck-card-product-img {
  width: 100%;
  height: 9rem;
}

.duck-card-product-title {
  font-weight: bold;
  padding-left: 0.5rem;
  margin: 0.25rem;
}
.duck-card-product-by {
  padding-left: 0.5rem;
  margin: 0.25rem;
}
.duck-card-product-info {
  padding-left: 0.5rem;
  margin: 0.25rem;
}
.duck-card-product-price {
  padding-left: 0.5rem;
  margin: 0.25rem;
}

.duck-card-product-badge-like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--secondary-color);
  font-size: xx-large;
}
.duck-card-product-badge-like:hover {
  border: none;
  color: white;
  cursor: pointer;
}
.duck-card-product-badge-like:active{
  color: black;
}

.duck-card-product-btn {
  width: 100%;
  min-height: 2rem;
  border: none;
  background-color: gray;
  cursor: pointer;
}

.btn-add-to-wishlist{
  width: 100%;
  min-height: 1.8rem;
  background-color: var(--secondary-color);
  border: .1rem solid var(--primary-color);
}
.duck-card-product-btn:hover{
  background-color: var(--primary-color);
  color: #fff;
}