.ec-wishlist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ec-wishlist-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.ec-wishlist-card-like-icon:active{
    color: white;
} 