@import url(https://book-art.netlify.app/style.css);

.my-product-page-body-content {
  display: flex;
  /* grid-template-columns: 20% 80%;
  margin: 2rem 1rem; */
}
.my-product-page-small-cards {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
/* .my-product-page-filters-container{
  padding: 1rem;
} */
.filter-container{
  padding: 0 1rem 2rem 2rem;
  position: sticky;
  top: 5rem;
  font-size: small;
  border-right: 1px solid var(--secondary-color);
}
/* landing page */
.landing-page-products-sample{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  margin: 1rem 0;
  
}
.landing-page-products-sample-img{
  width:30%;
}


/* login page  */

.my-login-page-body{
  display: flex;
  min-height: 27rem;

  justify-content: center;
}
.login-page{
  width: 70%;
}


/* navbar */
.ec-nav-container{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid var(--primary-color);
background-color: var(--secondary-color);
position: sticky;
top: 0;
z-index: 1000;
}
.ec-nav-links{
  text-decoration: none;
  color: var(--primary-color);
}
.ec-brand-name{
  margin-left: 2rem;

}

.ec-nav-input{
  border: 1.5px solid var(--primary-color);
  border-radius: 1rem;
  padding: .125rem .5rem;

}
.ec-nav-login{
cursor: pointer;
margin-right: 2rem;

}

.navbar-badge-content{
  font-weight: normal;
  font-size: xx-small;
  width: .8rem;
  height: .8rem;
  position: absolute;
  left: 1.1rem;
  top: -.6rem;
}
.navbar-icons{
  font-size: large;
  position: relative;
}
.duck-icon-badge{
  margin-bottom: .5rem;
}

.futer-link{
  color: var(--primary-color);
  cursor: pointer;
  font-size: large;
}

@media (max-width: 580px) {
   .ec-nav-input{
     display: none;
   }
}
@media (max-width: 480px) {
  .duck-icon-badge{
    display: none;
  }
}

/* orders */

.orders-container{
  display: flex;
  font-size: x-small;
  border: 1px solid var(--secondary-color);
  width: fit-content;
}
.orders-rightside{
  display: flex;
  padding: .5rem;
  border: 1px solid var(--secondary-color);
  height: fit-content;
  width: fit-content;
  margin: .6rem .25rem 0 0;
 
}
.orders-rightside p{
  margin: 0 0 .125rem .5rem;
}
.orders-rightside-img{
  width: 80px;
  height: 60px;
}
.orders-rightside-info{
  padding: .25rem;

}
.orders-leftside{
  padding: .5rem;
}
.orders-leftside p{
 margin: 0 .5rem .125rem .5rem;
}