@import url(https://book-art.netlify.app/style.css);

/* product page */
.ec-product-page-container {
  display: flex;
}
.ec-product-page-cards-container {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
.ec-product-page-filters-container{
  width: 150px;
  padding: 0 1rem;
  border-right: 2px solid var(--secondary-color);
  }
/* filters-page */
.ec-filters-container{
  width: inherit;
  position: sticky;
  top: 5rem;
  font-size: small;
}
/* landing page */


.ec-landing-page-img-container{
  width: 98%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 1%;
  gap: 4%;
  
}
.ec-landing-page-category-img-card{
  width:21%;
  background-image: url("https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  min-height: 10rem;

}
.ec-landing-page-category-img-card:hover{
  cursor: pointer;
  transition-property:inherit;
  box-shadow: 10px 8px 1px 1px var(--secondary-color);
}
/* login page  */

.my-login-page-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-page{
  width: 25%;
  border: 2px solid var(--secondary-color);
  padding: 1.5rem 3rem;
}

.login-buttons{
  cursor: pointer;
  border: none;
}
.login-buttons:hover{
  background-color: var(--primary-color);
  color: #fff;
}
.login-inputs{
  outline: none;
  padding: 0 .5rem;
  border: 1px solid var(--secondary-color);
}
.login-inputs:focus{
  border: 1px solid var(--primary-color);
}
.login-page p span{
  color: blue;
  text-decoration: underline;
}
.login-page p{
  margin-top: 0;
}
.login-title{
  margin-bottom: 0;
}
/* navbar */
.ec-nav-container{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid var(--primary-color);
background-color: var(--secondary-color);

}
.ec-nav-links{
  text-decoration: none;
  color: var(--primary-color);
}
.ec-brand-name{
  margin-left: 2rem;

}

.ec-nav-input{
  border: 1.5px solid var(--primary-color);
  border-radius: 1rem;
  padding: .125rem .5rem;

}
.ec-nav-login{
cursor: pointer;
margin-right: 2rem;

}

.navbar-badge-content{
  font-weight: normal;
  font-size: xx-small;
  width: .8rem;
  height: .8rem;
  position: absolute;
  left: 1.1rem;
  top: -.6rem;
}
.navbar-icons{
  font-size: large;
  position: relative;
}
.duck-icon-badge{
  margin-bottom: .5rem;
}

.futer-link{
  color: var(--primary-color);
  cursor: pointer;
  font-size: large;
}

@media (max-width: 520px) {
   .ec-nav-input{
     display: none;
   }
}
@media (max-width: 520px) {
  .duck-icon-badge{
    display: none;
  }
  
}
@media(max-width: 600px){
  .login-page{
    width: 50%;
  }
}
/* orders */

.orders-container{
  display: flex;
  font-size: x-small;
  border: 1px solid var(--secondary-color);
  width: fit-content;
}
.orders-rightside{
  display: flex;
  padding: .5rem;
  border: 1px solid var(--secondary-color);
  height: fit-content;
  width: fit-content;
  margin: .6rem .25rem 0 0;
 
}
.orders-rightside p{
  margin: 0 0 .125rem .5rem;
}
.orders-rightside-img{
  width: 80px;
  height: 60px;
}
.orders-rightside-info{
  padding: .25rem;

}
.orders-leftside{
  padding: .5rem;
}
.orders-leftside p{
 margin: 0 .5rem .125rem .5rem;
}


/* using flex grow */
.body-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top{
flex-basis: 65px;
position: sticky;
top: 0;
z-index: 1000;
}
.bottom{
  flex-basis: 120px;
}
.middle{
  flex-grow: 1;
}